# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
env/
venv/

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
data/processed/*
data/samples/*

# Models
results/model/*

# Logs
results/logs/*

# OS
.DS_Store
