# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
env/
venv/

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
data/processed/*
data/samples/*

# Results (전체 results 폴더 제외)
results/*

# Markdown files
*.md
!README.md

# OS
.DS_Store
